<!DOCTYPE html>
<html>
    <head>
        <script src="/main.js" type="text/javascript" charset="utf-8" ></script>
        <title>Test Server Main</title>
    </head>
    <body>
        <p>Test Server Main Page</p>
        <p>UID: <%= uid %></p>
        <br><br>
        <button id="btn-who">Show UID</button>
        <button id="btn-token-show">Show Token</button>
        <button id="btn-user-list">User List</button>
        <button id="btn-user-view">User View</button>
        <button id="btn-user-list-bad">User List (malformed)</button>
        <button id="btn-user-view-bad">User View (malformed)</button>
        <button id="btn-proj-list">Project List</button>
        <button id="btn-proj-view">Project View</button>
        <hr>
        <div id='div-output'></div>
        <hr>
        <button id="btn-logout">Log-Out</button>
        <button id="btn-welcome">Welcome Page</button>
        <br><br><br>
        <a href="/api/doc">API Test / Documentation</a>
    </body>
</html>
