<!DOCTYPE html>
<html>
    <head>
        <script type="module" charset="utf-8" src="/main.js"></script>
        <title>Test Server Main</title>
    </head>
    <body>
        <p>Test Server Main Page</p>
        <p>UID: <%= uid %></p>
        <button id="btn-who">Who Am I?</button>
        <button id="btn-something">Get Something</button>
        <button id="btn-token-show">Show Token</button>
        <div id='div-output'></div>
        <button id="btn-logout">Log-Out</button>
        <button id="btn-welcome">Welcome</button>
    </body>
</html>
