<!DOCTYPE html>
<html>
    <head>
        <script src="/welcome.js" type="text/javascript" charset="utf-8"></script>
        <title>Test Server Welcome</title>
    </head>
    <body>
        <p>Welcome to Test Server. Theme: <%= theme %></p>
        <button id="btn-login">Log-In</button>
        <br><br><br>
        <a href="/api/doc">API Test / Documentation</a>
    </body>
</html>
