<!DOCTYPE html>
<html>
    <head>
        <script type="module" charset="utf-8" src="/welcome.js"></script>
        <title>Test Server Welcome</title>
    </head>
    <body>
        <p>Welcome to Test Server. Theme: <%= theme %></p>
        <button id="btn-login">Log-In</button>
        <br><br><br>
        <a href="/test">API Test / Documentation</a>
    </body>
</html>
